<style>
  @import '/stylesheets/pages/test.css'; 
  @import '/stylesheets/components/modal.css'; 
  @import '/stylesheets/components/form.css';
</style>

<div class="test-container">
  <div class="test-container__header">
    <div class="test-container__header-left">
      <a class="test-container__header-icon-back" href="/dashboard/tests">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </a>
      <span class="test-container__header-icon material-symbols-outlined">
        share
      </span>
      <div class="test-container__header-left-container">
        <h1 class="test-container__header-title">
          {{test.title}}
        </h1>
        <p class="test-container__header-text">{{result}} result(s) found</p>
      </div>
    </div>
    <div class="test-informations">
      <div class="test-informations__left">
        <p class="test-informations__average">Average: {{test.avgGrade}}/{{test.maxGrade}}</p>
        <p class="test-informations__comment">{{test.comment}}</p>
      </div>
      <div class="test-icon__container">
        <span class="test-icon__edit material-symbols-outlined">
          edit_note
        </span>
        <form action="/dashboard/test/{{test._id}}/delete" method="POST">
          <button class="test-icon__button" type="submit">
            <span class="test-icon__delete material-symbols-outlined">
              delete
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="test-collection">
    <button class="test-container__button" type="button" id="open-modal-button">
      <span class="test-container__button-icon material-symbols-outlined">
        add
      </span>
    </button>
    {{#each test.grades}}
      <div class="test-item">
        <img
          class="test-item__image"
          src="{{student.profilePicture}}"
          alt="{{student.firstname}} {{student.lastname}}"
        />
        <div class="test-item__container">
          <p class="test-item__full-name">{{student.firstName}}
            {{student.lastName}}</p>
          <p class="test-item__grade">{{grade}}/{{../test.maxGrade}}</p>
        </div>
        <div class="test-icon__container">
          <span class="test-icon__edit material-symbols-outlined">
            edit_note
          </span>
          <form action="/dashboard/grade/{{_id}}/delete/{{../test._id}}" method="POST">
            <button class="test-icon__button" type="submit">
              <span class="test-icon__delete material-symbols-outlined">
                delete
              </span>
            </button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="modal modal__hidden">
  <div class="modal__container modal__container-hidden">
    <div class="modal__header">
      <div class="modal__header-container">
        <span class="modal__header-icon material-symbols-outlined">
          add_circle
        </span>
        <h2 class="modal__header-title">Add a grade</h2>
      </div>
      <span class="modal__close material-symbols-outlined">
        close
      </span>
    </div>
    <form
      class="form"
      action="/dashboard/grade/create/{{test._id}}"
      method="POST"
    >
      <label for="">Student
        <span class="form-require">*</span>
      </label>
      <input
        readonly
        type="text"
        class="form-input form-select"
        id="form-select"
        placeholder="Select student"
      />
      <input hidden id="form-select-id" name="student" />
      <input hidden id="form-select-id" name="{{test}}" />
      <div class="form-options form-options__hidden" id="form-options">
        {{#each students}}
          <div
            class="form-options__item"
            data-name="{{firstName}} {{lastName}}"
            data-id="{{_id}}"
            id="form-select-item"
          >
            <img
              class="form-options__item-image"
              src="{{profilePicture}}"
              alt="{{firstname}} {{lastname}}"
            />
            <span>
              {{firstName}}
              {{lastName}}
            </span>
          </div>
        {{/each}}
      </div>
      <label for="">Grade
        <span class="form-require">*</span>
      </label>
      <input
        class="form-input"
        type="text"
        name="grade"
        placeholder="Enter student score"
      />
      <button class="form-button" type="submit">
        <span class="material-symbols-outlined">
          add
        </span>
        <span> Add</span>
      </button>
      {{#if errorMessage}}
        <p class="form-error-message">
          <span class="form-error__icon material-symbols-outlined">
            error
          </span>
          {{errorMessage}}
        </p>
      {{/if}}
    </form>
  </div>
</div>

<script src="/js/modal.js"></script>
<script src="/js/form.js"></script>