<link rel="stylesheet" href="/stylesheets/pages/grades.css">

<div class="grades-container">
  {{> header title="Lastest grades" redirect="/dashboard"}}
  <div class="grades-collection">
    {{#each grades}}
      <a href="/dashboard/grades/{{_id}}">
        <div class="grades-item">
          <div class="grades-item__score">{{grade}}</div>
          <div class="grades-item__container">
            <p class="grades-item__test">{{test.title}}</p>
            <p class="grades-item__course">{{test.teacher.firstName}} {{test.teacher.lastName}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>